<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzit.dao.CartMapper">
	<resultMap id="BaseResultMap" type="com.hzit.pojo.Cart">
		<id column="cart_id" property="cartId" jdbcType="INTEGER" />
		<result column="product_id" property="productId" jdbcType="INTEGER" />
		<result column="quantity" property="quantity" jdbcType="INTEGER" />
		<result column="product_prict" property="productPrict"
			jdbcType="DECIMAL" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="checked" property="checked" jdbcType="TINYINT" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="add_person_id" property="addPersonId" jdbcType="INTEGER" />
		<result column="change_time" property="changeTime" jdbcType="TIMESTAMP" />
		<result column="modify_user_id" property="modifyUserId"
			jdbcType="INTEGER" />
		<result column="status" property="status" jdbcType="TINYINT" />
	</resultMap>
	<sql id="Base_Column_List">
		cart_id, product_id, quantity, product_prict, user_id,
		checked, create_time,
		add_person_id,
		change_time, modify_user_id, status
	</sql>
	
	<delete id="deleteSelect">
	delete from cart where cart_id in (${data}) and user_id=1
	</delete>
	<select id="selectCart" resultType="map" parameterType="int">
		select c.product_id as productId,p.product_name as productName,
		c.product_prict as productPrice,c.quantity as
		productQuantity,checked,pc.color_type as colorType,psize.size_name as
		sizeName,pdi.goods_weight as weight from cart as c INNER JOIN product
		as p on
		c.product_id=p.product_id inner join product_specification as
		ps on
		p.specification_id=ps.specification_id inner join product_color
		as pc
		on pc.color_id=ps.color_id inner join product_size as psize on
		psize.size_id=ps.size_id inner join product_details_info as pdi on
		pdi.product_id = p.product_id where user_id=#{userId}

	</select>
	<delete id="deleteCart" parameterType="int">
		delete from cart where cart_id=#{id} and user_id=1
	</delete>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from cart
		where cart_id = #{cartId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from cart
		where cart_id = #{cartId,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.hzit.pojo.Cart">
		insert into cart (cart_id,
		product_id, quantity,
		product_prict, user_id, checked,
		create_time,
		add_person_id, change_time,
		modify_user_id, status)
		values
		(#{cartId,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER},
		#{quantity,jdbcType=INTEGER},
		#{productPrict,jdbcType=DECIMAL},
		#{userId,jdbcType=INTEGER}, #{checked,jdbcType=TINYINT},
		#{createTime,jdbcType=TIMESTAMP}, #{addPersonId,jdbcType=INTEGER},
		#{changeTime,jdbcType=TIMESTAMP},
		#{modifyUserId,jdbcType=INTEGER},
		#{status,jdbcType=TINYINT})
	</insert>
	<insert id="insertSelective" parameterType="com.hzit.pojo.Cart">
		insert into cart
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="cartId != null">
				cart_id,
			</if>
			<if test="productId != null">
				product_id,
			</if>
			<if test="quantity != null">
				quantity,
			</if>
			<if test="productPrict != null">
				product_prict,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="checked != null">
				checked,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="addPersonId != null">
				add_person_id,
			</if>
			<if test="changeTime != null">
				change_time,
			</if>
			<if test="modifyUserId != null">
				modify_user_id,
			</if>
			<if test="status != null">
				status,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="cartId != null">
				#{cartId,jdbcType=INTEGER},
			</if>
			<if test="productId != null">
				#{productId,jdbcType=INTEGER},
			</if>
			<if test="quantity != null">
				#{quantity,jdbcType=INTEGER},
			</if>
			<if test="productPrict != null">
				#{productPrict,jdbcType=DECIMAL},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="checked != null">
				#{checked,jdbcType=TINYINT},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="addPersonId != null">
				#{addPersonId,jdbcType=INTEGER},
			</if>
			<if test="changeTime != null">
				#{changeTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyUserId != null">
				#{modifyUserId,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				#{status,jdbcType=TINYINT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.hzit.pojo.Cart">
		update cart
		<set>
			<if test="productId != null">
				product_id = #{productId,jdbcType=INTEGER},
			</if>
			<if test="quantity != null">
				quantity = #{quantity,jdbcType=INTEGER},
			</if>
			<if test="productPrict != null">
				product_prict = #{productPrict,jdbcType=DECIMAL},
			</if>
			<if test="userId != null">
				user_id = #{userId,jdbcType=INTEGER},
			</if>
			<if test="checked != null">
				checked = #{checked,jdbcType=TINYINT},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="addPersonId != null">
				add_person_id = #{addPersonId,jdbcType=INTEGER},
			</if>
			<if test="changeTime != null">
				change_time = #{changeTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyUserId != null">
				modify_user_id = #{modifyUserId,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=TINYINT},
			</if>
		</set>
		where cart_id = #{cartId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.hzit.pojo.Cart">
		update cart
		set
		product_id = #{productId,jdbcType=INTEGER},
		quantity =
		#{quantity,jdbcType=INTEGER},
		product_prict =
		#{productPrict,jdbcType=DECIMAL},
		user_id = #{userId,jdbcType=INTEGER},
		checked = #{checked,jdbcType=TINYINT},
		create_time =
		#{createTime,jdbcType=TIMESTAMP},
		add_person_id =
		#{addPersonId,jdbcType=INTEGER},
		change_time =
		#{changeTime,jdbcType=TIMESTAMP},
		modify_user_id =
		#{modifyUserId,jdbcType=INTEGER},
		status = #{status,jdbcType=TINYINT}
		where cart_id = #{cartId,jdbcType=INTEGER}
	</update>
</mapper>